.nav-container,
.nav-container-2  {
  width: 100%; 
  position: relative;
  background: #ffffff; 
}


iframe {
  width: 100%; 
  position: absolute;
  border: none;
}

body {
  background: #333333;
}

html,
body,
iframe,
.nav-container,
.nav-container-2 { 
  height: 100%; 
  margin: 0;  
}

#nav-check {
  display: none;
}

.nav-button {
  box-sizing: border-box;
  position: fixed;
  display: block;
  width: 150px;
  height: 50px;
  background: #011027;
  border-radius: 10px;
  cursor: pointer;
  font-size: 24px;
  color: #ffffff;
  opacity: 0.5;  
  text-align: center;
  z-index: 150;
}

.nav-button:hover {
  background: #042758;
}

.desktop {
  display: none;
  padding-top: 10px;
  bottom: 100px;
  right: 20px;
}
.mobile {
  padding-top: 10px;  
  bottom: 100px;
  right: 20px;
}
.back {
  z-index: 150;
  padding-top: 10px;
  bottom: 20px;
  right: 20px;
  text-decoration: none;
}

#nav-check:checked ~ .desktop {
  display: block;
}

#nav-check:checked ~ .mobile {
  display: none;
}

#nav-check:checked ~ .nav-container {
  width: 392px;
  margin: 0 auto;
}

#nav-check:checked ~ .nav-container-2 {
  width: 617px;
  margin: 0 auto;
}

@media only screen and (max-width : 600px) {
  .desktop,
  .mobile {
    display: none;
  }  
}
